<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Template Task Presenter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <div class="fluid-container">
        <div class="row">
            <div class="col-md-3">
                <div class="business-card">
                    <div class="media">
                        <div class="media-left">
                            <img src="iconoOferta.png" class="media-object img-circle profile-img" />
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">Oferta Laboral <small>ID: {{$ctrl.elemento.idCrawler | limitTo: 32}}</small></h2>
                            <div class="job">{{$ctrl.elemento.nombre}}</div>
                            <div class="interest">{{$ctrl.elemento.descripcion}}</div>
                            <div class="interest">{{$ctrl.elemento.perfilPostulante}}</div>
                            <div class="mail">Localidad: {{$ctrl.elemento.localidad}} · Sueldo: {{$ctrl.elemento.sueldo}}</div>
                            <div>Semana: {{$ctrl.elemento.horarioSemana}} · Sábado: {{$ctrl.elemento.horarioSabado}} · Domingo: {{$ctrl.elemento.horarioDomingo}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="business-card">
                    <div class="media">
                        <div class="media-left">
                            <img src="iconoSenior.png" class="media-object img-circle profile-img" />
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">Senior Nº {{$ctrl.elemento.id | limitTo: 32}}</h2>
                            <div class="job">{{$ctrl.elemento.titulo}} <small>{{$ctrl.elemento.profesion}}</small></div>
                            <div class="interest">{{$ctrl.elemento.descripcion}}</div>
                            <div class="mail">{{$ctrl.elemento.razonLaboral}}</div>
                            <div>Localidad: {{$ctrl.elemento.comuna}}</div>
                            <div>Sexo: {{$ctrl.elemento.sexo}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style type="text/css">
        /* http://bootsnipp.com/snippets/P3zpb */

        .business-card {
            border: 1px solid #cccccc;
            background: #f8f8f8;
            padding: 10px;
            border-radius: 4px;
            margin-bottom: 10px;
        }
        .profile-img {
            height: 120px;
            background: white;
        }
        .job {
            color: #666666;
            font-size: 17px;
        }
        .interest {
            color: #666666;
            font-size: 16px;
        }
        .mail {
            font-size: 16px;
        }
    </style>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>