<div class="contenedorr">
  <div class="colIzq">
    <h1>Oferta de trabajo</h1>
    <div id="oferta" class="well well-amarillo"></div>
    <div>
      <div class="well well-small well-amarillo">
          <p>Has completado:</p> <span id="done" class="label label-info"></span> ofertas de <span id="total" class="label label-inverse"></span>
          <div class="progress progress-striped">
              <div id="progress" rel="tooltip" title="#" class="bar" style="width: 0%;"></div>
          </div>
      </div>
    </div>

    <div id="avance" class="well well-small well-amarillo">
      <p>Has seleccionado: </p>
      <span id="selected" class="label label-info"></span> seniors de <span id="totalSeniors" class="label label-inverse">5</span>
    </div>
  </div>
  <div id="seniors" class="colDer">
    <div id="paso1" style="display:none">
      <h1 id="titulo1"></h1>
      <div id="content1"></div>
      <div id="botones1"><button id="botonPaso2" class="btn btn-primary" style="float:right">Siguiente</button></div>
    </div>
    <div id="paso2" style="display:none">
      <h1 id="titulo2"></h1>
      <div id="content2"></div>
      <div id="botones2">
        <button id="botonVolverPaso1" class="btn btn-default">Volver</button>
        <button id="botonPaso3" class="btn btn-primary" style="float:right">Siguiente</button>
      </div>
    </div>
    <div id="paso3" style="display:none">
      <h1 id="titulo3"></h1>
      <div id="content3"></div>
      <div id="botones3">
        <button id="botonVolverPaso2" class="btn btn-default">Volver</button>
        <button id="botonPaso4" class="btn btn-primary" style="float:right">Siguiente</button>
      </div>
    </div>
    <div id="paso4" style="display:none">
      <h1 id="titulo4"></h1>

        <div id="content4"></div>
        <div id="botones4">
          <button id="botonVolverPaso3" class="btn btn-default">Volver</button>
          <button id="botonFinal" class="btn btn-primary" style="float:right">Finalizar Tarea</button>
        </div>

    </div>
  </div>
</div>


<div id="modal">
   <div id="modal-content"></div>
</div>


<div class="relleno"></div>
<style>
label{
  font-size: 13px;
}
#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.contenedorr{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 95%;
}

.contenedorr .colIzq{
  position: relative;
  float: left;
  top: 0px;
  left:0px;
  width: 20%;
  height: 400px;
}

.contenedorr .colDer{
  position: relative;
  padding-left: 5%;
  float: left;
  top: 0px;
  width: 75%;
}

.relleno{
  display: block;
  height: 1000px;
}

.well-amarillo{
  background-color: #fff7e5 !important;
}

.well-azul{
  background-color: #e5f2ff !important;
}


</style>

<script type="text/javascript" src="https://code.jquery.com/ui/1.8.24/jquery-ui.js"></script>
<script type="text/javascript">
(function() {
   var paso1 = $("#paso1");
   var paso2 = $("#paso2");
   var paso3 = $("#paso3");
   var paso4 = $("#paso4");

   var titulo1 = $("#titulo1");
   var titulo2 = $("#titulo2");
   var titulo3 = $("#titulo3");
   var titulo4 = $("#titulo4");

   var content1 = $("#content1");
   var content2 = $("#content2");
   var content3 = $("#content3");
   var content4 = $("#content4");

   /*var botones1 = $("#botones1");
   var botones2 = $("#botones2");
   var botones3 = $("#botones3");
   var botones4 = $("#botones4");*/

   var oferta = $("#oferta");
   var modal = $("#modal");
   var modalContent = $("#modal-content");

   var avance = $("#avance");
   var selected = $("#selected");

   var selectedPage1 = [];
   var selectedPage2 = [];
   var seniorsPaso3 = [];

   var etiquetas = [];

   //var first = true;
   var limit = 5;


   $(".navbar").css("display","none");
   $(".container").css("margin-top","-84px");
   $(".alert-messages").css("display","none");
   $(".row").css("display","none");
   //$("footer").css("display","none");



   function loadUserProgress() {
       pybossa.userProgress('rankingseniors').done(function(data){
           var pct = Math.round((data.done*100)/data.total);
           $("#progress").css("width", pct.toString() +"%");
           $("#progress").attr("title", pct.toString() + "% completado!");
           $("#progress").tooltip({'placement': 'left'});
           $("#total").text(data.total);
           $("#done").text(data.done);
       });
   }




    pybossa.taskLoaded(function(task, deferred){
      task.info.offer = JSON.parse(task.info.offer);
      task.info.seniors = JSON.parse(task.info.seniors);
      //tareaId = task.id;

      //paso1.hide();
      paso2.hide();
      paso3.hide();
      paso4.hide();
      modal.hide();
      modalContent.css({
         "position":"fixed",
         "top":"50%",
         "left":"10%",
         "width":"80%"
      });
      deferred.resolve(task);
    });

    pybossa.presentTask(function(task, deferred){
      loadUserProgress();
      let time_ini = new Date();
      console.log(time_ini.toISOString());
      selectedPage1 = [];
      selectedPage2 = [];
      seniorsPaso3 = [];
      etiquetas = [];
      //if(first){
        //first = false;
        $("#botonPaso2").off("click").on("click", function(){
          console.log(selectedPage1);
           if(selectedPage1.length<limit){
              modalContent.html("<div class='well'><center> Le faltan por seleccionar <strong>"+(limit-selectedPage1.length)+"</strong> senior más.</center></div>");
              modal.fadeIn().delay(1500).fadeOut();
           }
           else{
              paso1.fadeOut(function(){
                selected.text(selectedPage2.length);
                 paso2.fadeIn();
              });
           }
        });
        $("#botonVolverPaso1").off("click").on("click",function(){
          paso2.fadeOut(function(){
            selected.text(selectedPage1.length);
            paso1.fadeIn();
          });
        });

        $("#botonPaso3").off("click").on("click",function(){
           if(selectedPage2.length<limit){
              modalContent.html("<div class='well'><center> Le faltan por seleccionar <strong>"+(limit-selectedPage2.length)+"</strong> senior más.</center></div>");
              modal.fadeIn().delay(1500).fadeOut();
           }
           else{
              var ul = $("<ol></ol>");
              for(var i = 0; i < seniorsPaso3.length; i++){
                 var li = $("<li></li>");
                 //li.addClass(seniorsPaso3[i].sexo=="t3e_sex_men"? "symbol-male":(seniorsPaso3[i].sexo=="t3e_sex_women"? "symbol-female":""));
                 li.attr("id",seniorsPaso3[i].id);

                 var caja = $("<div class='well well-azul'></div>");
                 //caja.css("background-color","rgba(245, 245, 245, 0.5) ");
                 caja.css("margin-bottom","5px");
                 caja.css("padding-top","5px");
                 caja.css("padding-bottom","5px");


                 var profesion = $('<span class="profesion"></span>');
                 profesion.html((seniorsPaso3[i].profesion?"<strong>Título Profesional: </strong>"+seniorsPaso3[i].profesion+" ":""));
                 var titulo = $('<span class="titulo"></span>');
                 titulo.html(seniorsPaso3[i].titulo?"<strong>Encabezado: </strong>"+seniorsPaso3[i].titulo+" ":"");
                 var descripcion = $('<span class="descripcion"></span>');
                 descripcion.html(seniorsPaso3[i].descripcion?"<strong>Descripción: </strong>"+seniorsPaso3[i].descripcion+" ":"");
                 var razonLaboral = $('<span class="razon"></span>');
                 razonLaboral.html(seniorsPaso3[i].razonLaboral?"<strong>Motivación: </strong>"+seniorsPaso3[i].razonLaboral+" ":"");
                 //var ingresos = $('<span class="ingresos"></span>');
                 //ingresos.html(seniorsPaso3[i].ingresos?"<strong>Ingresos: </strong>"+seniorsPaso3[i].ingresos+" ":"");
                 //var comuna = $('<span class="comuna"></span>');
                 //comuna.html(seniorsPaso3[i].comuna?"<strong>Comuna: </strong>"+seniorsPaso3[i].comuna+" ":"");


                 caja.append(profesion);
                 caja.append(titulo);
                 caja.append(descripcion);
                 caja.append(razonLaboral);
                 //caja.append(ingresos);
                 //caja.append(comuna);

                 li.append(caja);

                 ul.append(li);
              }

              ul.sortable();
              ul.disableSelection();

              content3.html(ul);

              avance.fadeOut();
              paso2.fadeOut(function(){
                 paso3.fadeIn();
              });
           }
        });

        $("#botonVolverPaso2").off("click").on("click",function(){
          paso3.fadeOut(function(){
            avance.fadeIn();
            paso2.fadeIn();
          });
        });

        $("#botonVolverPaso3").off("click").on("click",function(){
          etiquetas = [];
          paso4.fadeOut(function(){
            paso3.fadeIn();
          });
        });

        $("#botonPaso4").off("click").on("click",function(){
          var html4 = "<div class='well form-group'>";
          html4+="<h2>Por favor indique en qué factores se fijo al momento de ordenar un senior por sobre otro</h2>"
          //html4+="<label style='cursor:pointer'><input class='final' type='checkbox' name='final' value='sexo'/>Sexo</label>";
          html4+="<label style='cursor:pointer'><input class='final' type='checkbox' name='final' value='profesion'/>Título Profesional</label>";
          html4+="<label style='cursor:pointer'><input class='final' type='checkbox' name='final' value='titulo'/>Encabezado</label>";
          html4+="<label style='cursor:pointer'><input class='final' type='checkbox' name='final' value='descripcion'/>Descripción</label>";
          html4+="<label style='cursor:pointer'><input class='final' type='checkbox' name='final' value='razonLaboral'/>Motivación</label>";
          //html4+="<label style='cursor:pointer'><input class='final' type='checkbox' name='final' value='ingresos'/>Ingresos</label>";
          //html4+="<label style='cursor:pointer'><input class='final' type='checkbox' name='final' value='comuna'/>Comuna</label>";
          html4+="</div>";
          html4+="<div class='well'>";
          html4+="<h2>Indique con sus palabras en qué otro factor se fijó para ordenar.</h2>";
          html4+="<textarea id='campoTexto' class='form-control' rows='4' style='width:90%'></textarea>";
          html4+="</div>"
          content4.html(html4);

          $("input.final").off("change").on("change",function(evt) {
            console.log(this.value);
            if(this.checked){
              etiquetas.push(this.value);
            }
            else{
              pos = etiquetas.indexOf(this.value);
              if(pos>=0){
                etiquetas.splice(pos,1);
              }
            }
            console.log(etiquetas);
          });

          paso3.fadeOut(function(){
            paso4.fadeIn();
          });
        });

        $("#botonFinal").off("click").on("click",function(){
          if(etiquetas.length==0){
            modalContent.html("<div class='well'><center><strong>Atención!</strong> Seleccione a lo menos 1 etiqueta.</center></div>");
            modal.fadeIn().delay(1500).fadeOut();
          }
          else{
            if($("#campoTexto").val().trim()==""){
              modalContent.html("<div class='well'><center><strong>Atención!</strong> Escriba con sus palabras su criterio de ordenamiento.</center></div>");
              modal.fadeIn().delay(1500).fadeOut();
            }
            else{
              let respuesta = {};
              respuesta.selectedPage1 = selectedPage1;
              respuesta.selectedPage2 = selectedPage2;
              respuesta.ordenamientoPage3 = [];
              for(var i = 0; i < seniorsPaso3.length; i++){
                 //console.log(seniorsPaso3[i].id);
                 //console.log($("#"+seniorsPaso3[i].id).index());
                 respuesta.ordenamientoPage3.push({"id" : seniorsPaso3[i].id , "orden" : $("#"+seniorsPaso3[i].id).index()});
                 //seniorsPaso3[i].orden = $("#"+seniorsPaso3[i].id).index();
              }
              respuesta.etiquetas = etiquetas;
              respuesta.texto = $("#campoTexto").val();
              respuesta.tiempo_ini = time_ini;
              respuesta.tiempo_fin = new Date();

              task.answer = respuesta;

              pybossa.saveTask(task.id, task.answer).done(function() {
                  content1.html("");
                  content2.html("");
                  content3.html("");
                  $('input:checkbox').removeAttr('checked');
                  $("#campoTexto").val("");
                  deferred.resolve();
              });
            }
          }
        });


      //}//fin if first
      var seccionesOferta = task.info.offer;
      let nombre = $("<h2></h2>");
      nombre.text(seccionesOferta.nombre?seccionesOferta.nombre:"");
      let containerOferta = $('<div></div>');
      containerOferta.css("display","block");
      containerOferta.css("height","400px");
      containerOferta.css("overflow","auto");
      let descripcionOferta = $('<p></p>');
      descripcionOferta.html(seccionesOferta.descripcion?"<strong>Descripción: </strong>"+seccionesOferta.descripcion:"");
      let perfilPostulante = $('<p></p>');
      perfilPostulante.html(seccionesOferta.perfilPostulante?"<strong>Perfil: </strong>"+seccionesOferta.perfilPostulante:"");
      //let sueldo = $('<p></p>');
      //sueldo.html(seccionesOferta.sueldo?"<strong>Sueldo: </strong>"+seccionesOferta.sueldo:"");
      //let localidad = $('<p></p>');
      //localidad.html(seccionesOferta.localidad?"<strong>Localidad: </strong>"+seccionesOferta.localidad:"");
      //let fecha = $('<span></span>');
      //fecha.text(seccionesOferta.fechaPublicacion);
      //let tipoHorario = $('<span></span>');
      //tipoHorario.text(seccionesOferta.tipoHorario);
      //let horarioSemana = $('<span></span>');
      //horarioSemana.text(seccionesOferta.horarioSemana);
      //let horarioSabado = $('<span></span>');
      //horarioSabado.text(seccionesOferta.horarioSabado);
      //let horarioDomingo = $('<span></span>');
      //horarioDomingo.text(seccionesOferta.horarioDomingo);
      //let estado = $('<span></span>');
      //estado.text(seccionesOferta.estado);

      containerOferta.html(descripcionOferta);
      containerOferta.append(perfilPostulante);

      oferta.html(nombre);
      oferta.append(containerOferta);

      //oferta.append(sueldo);
      //aoferta.append(localidad);
      //oferta.append(fecha);
      //oferta.append(tipoHorario);
      //oferta.append(horarioSemana);
      //oferta.append(horarioSabado);
      //oferta.append(horarioDomingo);
      //oferta.append(estado);


      //asumo que en el csv vienen intercalados los seniors
      var arreglo = task.info.seniors;

      //reseteo el contenido para la siguiente tarea
      titulo1.text("Lista de seniors recomendados (1 al "+Math.floor(arreglo.length/2)+" de "+arreglo.length+")");
      titulo2.text("Lista de seniors recomendados ("+parseInt(Math.floor(arreglo.length/2)+1)+" al "+arreglo.length+")");
      titulo3.text("Ordene arrastrando con el mouse");
      titulo4.text("Cuestionario para esta oferta");

      for (var i = 0; i < arreglo.length; i++){

         arreglo[i].id = arreglo[i].id.replace(".","-");

         var label = $('<label></label>');
         label.css("display","flex");
         label.css("align-items","center");
         label.css("position","relative");
         label.css("cursor","pointer");
         //label.addClass(arreglo[i].sexo=="t3e_sex_men"? "symbol-male":(arreglo[i].sexo=="t3e_sex_women"? "symbol-female":""));
         label.disableSelection();


         var actual = $('<div></div>');
         actual.addClass("well well-azul");
         //actual.css("background-color","rgba(245, 245, 245, 0.5) ");
         actual.css("margin-bottom","5px");
         actual.css("padding-top","5px");
         actual.css("padding-bottom","5px");
         actual.css("width","100%");
         //actual.css("min-height","50px");

         var profesion = $('<span class="profesion"></span>');
         profesion.html((arreglo[i].profesion?"<strong>Título Profesional: </strong>"+arreglo[i].profesion+"<br />":""));
         var titulo = $('<span class="titulo"></span>');
         titulo.html(arreglo[i].titulo?"<strong>Encabezado: </strong>"+arreglo[i].titulo+"<br />":"");
         var descripcion = $('<span class="descripcion"></span>');
         descripcion.html(arreglo[i].descripcion?"<strong>Descripción: </strong>"+arreglo[i].descripcion+"<br />":"");
         var razonLaboral = $('<span class="razon"></span>');
         razonLaboral.html(arreglo[i].razonLaboral?"<strong>Motivación: </strong>"+arreglo[i].razonLaboral+"<br />":"");
         //var ingresos = $('<span class="ingresos"></span>');
         //ingresos.html(arreglo[i].ingresos?"<strong>Ingresos: </strong>"+arreglo[i].ingresos+" ":"");
         //var comuna = $('<span class="comuna"></span>');
         //comuna.html(arreglo[i].comuna?"<strong>Comuna: </strong>"+arreglo[i].comuna+" ":"");
         //var fechaPublicacion = $('<span></span>');
         //fechaPublicacion.text(arreglo[i].fechaPublicacion);
         //var numeroContacto = $('<span></span>');
         //numeroContacto.text(arreglo[i].numeroContacto);
         //var correoContacto = $('<span></span>');
         //correoContacto.text(arreglo[i].correoContacto);
         //var categoria = $('<span></span>');
         //categoria.text(arreglo[i].categoria);
         //var tipoClasificado = $('<span></span>');
         //tipoClasificado.text(arreglo[i].tipoClasificado);
         //var keywordsProfesiones = $('<span></span>');
         //keywordsProfesiones.text(arreglo[i].keywordsProfesiones);

         actual.append(titulo);
         actual.append(profesion);
         actual.append(descripcion);
         actual.append(razonLaboral);
         //actual.append(ingresos);
         //actual.append(comuna);
         //actual.append(fechaPublicacion);
         //actual.append(numeroContacto);
         //actual.append(correoContacto);
         //actual.append(categoria);
         //actual.append(tipoClasificado);
         //actual.append(keywordsProfesiones);
         //actual.append(keywordsComunas);

         if(i < Math.floor(arreglo.length/2)){
            var check = $('<input class="paso1" type="checkbox" name="paso1" value="'+i+'"/>');
            check.css("flex","none");
            label.append(check);
            label.append(actual);
            content1.append(label);
         }
         else{
            var check = $('<input class="paso2" type="checkbox" name="paso2" value="'+i+'"/>');
            check.css("flex","none");
            label.append(check);
            label.append(actual);

            content2.append(label);
         }
      }
      selected.text(0);
      avance.fadeIn();
      paso1.fadeIn();


      $("input.paso1").on('change',function(evt){
         //console.log("select on paso 1: "+$("input.paso1:checked").length);
         if($("input.paso1:checked").length > limit) {
             this.checked = false;
             modalContent.html("<div class='well'><center><strong>Atención!</strong> Seleccione solo "+limit+" senior.</center></div>");
             modal.fadeIn().delay(1500).fadeOut();
         }
         else{
            if(this.checked){
               seniorsPaso3.push(arreglo[parseInt($(this).attr("value"))]);
               selectedPage1.push(arreglo[parseInt($(this).attr("value"))]);
            }
            else{
               let pos = seniorsPaso3.indexOf(arreglo[parseInt($(this).attr("value"))]);
               if(pos>=0){
                  seniorsPaso3.splice(pos,1);
               }
               pos = selectedPage1.indexOf(arreglo[parseInt($(this).attr("value"))]);
               if(pos>=0){
                  selectedPage1.splice(pos,1);
               }
            }
         }
         selected.text(selectedPage1.length);
      });


      $("input.paso2").on('change',function(evt){
         if($("input.paso2:checked").length > limit) {
             this.checked = false;
             modalContent.html("<div class='well'><center><strong>Atención!</strong> Seleccione solo "+limit+" senior.</center></div>");
             modal.fadeIn().delay(1500).fadeOut();
         }
         else{
            if(this.checked){
               seniorsPaso3.push(arreglo[parseInt($(this).attr("value"))]);
               selectedPage2.push(arreglo[parseInt($(this).attr("value"))]);
            }
            else{
               let pos = seniorsPaso3.indexOf(arreglo[parseInt($(this).attr("value"))]);
               if(pos>=0){
                  seniorsPaso3.splice(pos,1);
               }
               pos = selectedPage2.indexOf(arreglo[parseInt($(this).attr("value"))]);
               if(pos>=0){
                  selectedPage2.splice(pos,1);
               }
            }
         }
         selected.text(selectedPage2.length);
      });

    });//fin presentTask
    pybossa.run('rankingseniors');
})();

</script>
