<div class="row">  
    <!-- Success and Error Messages for the user -->
    <!-- Question, task id, photo and action buttons for answering the question-->
    <div class="span8 offset2" style="height:50px">
        <div id="success" class="alert alert-success" style="display:none;">
            <a class="close">×</a>
            <strong>Well done!</strong> Your answer has been saved</strong>
            <div id="taskcompleted" class="alert alert-info" style="display:none;">
                <strong>The task has been completed!</strong> Thanks a lot!</strong>
            </div>
        </div>

        <div id="finish" class="alert alert-success" style="display:none;">
            <strong>Congratulations!</strong> You have participated in all available tasks!</strong>
            <br/>
            <div class="alert-actions">
                <a class="btn small" href="/">Volver</a>
                <a class="btn small" href="/app">Buscar otros proyectos</a>
            </div>
        </div>
        <div id="error" class="alert alert-error" style="display:none;">
            <a class="close">×</a>
            <strong>Error!</strong> Something went wrong, please contact the site administrators</strong>
        </div>
        <div id="oldBrowser" class="alert alert-info" style="display:none;">
            <a class="close">×</a>
            <p><strong>Sorry!</strong> Your web browser does not support the application.<p>
            <div class="alert-actions">
                <a class="btn small" href="/app">Please, try with another application</a>
            </div>
        </div>
    </div> <!-- End Success and Error Messages for the user -->
</div>

<!-- Throbber to show the progress while loading images -->
<div id="throbber"></div>
<div id="consentimiento" class="row">
    <h2 align="center">CONSENTIMIENTO INFORMADO</h2>
    <p align="justify">La Universidad de Santiago de Chile (USACH),  a través del Proyecto  FONDEF IDEA ID15I-10560, está realizando una investigación  científica  titulada “Plataforma de Apoyo a la Gestión de Emergencia y Aplicaciones”, dirigido por el académico Don Juan Mauricio Marín Caihuan, del Departamento de Informática de la Facultad de Ingeniería de la Universidad de Santiago de Chile y Director Científico del CITIAPS (Centro de Innovación en Tecnologías de la Información para Aplicaciones Sociales de la Usach) y su Director Alterno, Don Nicolás Hidalgo, Académico del Departamento de Informática de la Facultad de Ingeniería de la Universidad de Santiago de Chile.</p>
    <p align="justify">Para  del desarrollo de una de las aplicaciones tecnológicas de este proyecto su participación  consistirá en identificar y clasificar algunos ejemplos de tweets relacionados con una situación de desastre o emergencia, lo que forma parte de una prueba piloto hacia la construcción de clasificadores validados científicamente en esta línea.</p>  
    <p align="justify">Sus respuestas serán anónimas y confidenciales y no serán conocidas por ninguna otra personas más que por los/las investigadores/as. A su vez, su nombre no aparecerá en ningún informe ni publicación con los resultados de la investigación.</p>   
    <p align="justify">Es importante que sepa que su participación no implica ningún riesgo físico ni psicológico y es completamente voluntaria, pudiendo negarse a participa y retirarse en cualquier momento, sin que esto implique algún tipo de consecuencias negativas para Ud.</p>
    <p align="justify">Mediante el presente documento acepto participar de modo voluntario e informado, en el estudio arriba descrito.</p>
  <button class="btn btn-success btn-answer" onclick="myFunction()">Acepto</button>

</div>
<div id="cancelConsentimiento" class="row">
    <div id="cancelConsentimiento2" class="alert alert-success" style="display:none;">
            <strong>Gracias por participar!</strong> 
            <br/>
            <div class="alert-actions">
                <a class="btn small" href="/">Volver</a>
                <a class="btn small" href="/app">Buscar otros proyectos</a>
            </div>
        </div>
</div>
<!-- UI for the task -->

<div id="labeling" class="row skeleton" style="display:none;">
    <div id="question" class="span12">
        <!--<h1>Information provided Indicate what type of information is provided in the message. This is a ranked list. If more than one information type is present, choose the one that appears first on the list</h1>-->
        <div class="row">
            <div class="span8">
                <div class="well well-small">
                    <p id="tweettext" class="lead">Loading tweet...</p>
                </div>
                <div>
                    <label class='radio' name='nominalLabel'><strong><input name='nominalLabel' type='radio' value='1'>Informativo y pertinente a la inundación en Santiago</strong>&nbsp;&nbsp;<font color='#999999' size=-1>si contiene información útil que le ayuda a comprender la situación.</font></label>
                    <label class='radio' name='nominalLabel'><strong><input name='nominalLabel' type='radio' value='2'>Pertinente a la inundación en Santiago, pero no informativa</strong>&nbsp;&nbsp;<font color='#999999' size=-1>si se refiere a la crisis, pero no contiene información útil que le ayuda a comprender la situación.</font></label>
                    <label class='radio' name='nominalLabel'><strong><input name='nominalLabel' type='radio' value='3'>No se relaciona con la inundación en Santiago</strong>&nbsp;&nbsp;<font color='#999999' size=-1>no tiene información referente al desastre.</font></label>
                    <label class='radio' name='nominalLabel'><strong><input name='nominalLabel' type='radio' value='4'>No es aplicable</strong>&nbsp;&nbsp;<font color='#999999' size=-1>demasiado corto; no se puede leer; u otros problemas.</font></label>                
                </div>
                <div id="answer"> <!-- Start DIV for the submission buttons -->
                    <div class="input-append">
                    <button class="btn btn-success btn-answer" type="button"><i class="icon-ok"></i> Guardar valor</button>
                </div>
                <!-- If the user clicks this button, the saved answer will be value="yes"-->
                </div><!-- End of DIV for the submission buttons -->
            </div>
            <div class="span3 well well-small">
                <p>You are working now on task: <span id="task-id" class="label label-warning">#</span></p>
                <p>You have completed: <span id="done" class="label label-info"></span> tweets from
                    <span id="total" class="label label-inverse"></span></p>
                <div class="progress progress-striped">
                    <div id="progress" rel="tooltip" title="#" class="bar" style="width: 0%;"></div>
                </div>
                <span class="label label-warning"><i class="icon-bullhorn"></i> Tip</span> If you need help, check the
                <div style="padding-top:5px; text-align:center;"><a class="btn btn-primary" href="../tutorial"><i class="icon-question-sign"></i> Tutorial</a>
                </div>
            </div>
            <div id="searching" class="alert alert-info span2" style="display:none">
                <strong>Searching...</strong>
            </div>
            <div id="searchingDone" class="alert alert-success span2" style="display:none">
                <strong>Location found!</strong>
            </div>
            <div id="searchingError" class="alert alert-warning span2" style="display:none">
                <strong>Oops! Location not found</strong> Please add the marker yourself
            </div>
        </div>
    </div>
</div>


<script>
function myFunction() {
    var r = confirm("Gracias por colaborar en este proyecto");
    if (r == true) {
        $("#labeling").fadeIn(500);
        $("#consentimiento").hide();
    } else {
      
        $("#consentimiento").hide();
        $("#cancelConsentimiento2").fadeIn(500);
        
    }
    
}
</script>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    /* * * DON'T EDIT BELOW THIS LINE * * */
    function loadDisqus() {
    $("#disqus_thread").toggle();
    $(".btn-disqus").toggle();
    var disqus_shortname = 'pybossa'; // required: replace example with your forum shortname
    //var disqus_identifier = taskId;
    var disqus_developer = 1;
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    }
</script>

<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<script>
function loadUserProgress() {
    pybossa.userProgress('inundacion-ui-inf').done(function(data){
        var pct = Math.round((data.done*100)/data.total);
        $("#progress").css("width", pct.toString() +"%");
        $("#progress").attr("title", pct.toString() + "% completed!");
        $("#progress").tooltip({'placement': 'left'}); 
        $("#total").text(data.total);
        $("#done").text(data.done);
    });
}
  
function getCheckedBoxes() {
        var checkboxes = document.getElementsByName('nominalLabel');
        var checkboxesChecked = [];
        // loop over them all
        for (var i=0; i<checkboxes.length; i++) {
            // And stick the checked ones onto an array...
            if (checkboxes[i].checked) {
                checkboxesChecked.push(checkboxes[i].value);
            }
        }
        // Return the array if it is non-empty, or null
        return checkboxesChecked.length > 0 ? checkboxesChecked : null;
    }
function replaceURLWithHTMLLinks(text) {
     var exp = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
     return text.replace(exp,"<a href='$1' target='_blank'>$1</a>"); 
}
pybossa.taskLoaded(function(task, deferred) {
    if ( !$.isEmptyObject(task) ) {
        // load image from flickr
        var p = $('<p/>');
      // p.addClass('lead');
      //console.log(task.info);
        p.text = task.info.text;
        task.info.p = p;
        task.answer = {'category': null,
                       'tweet_id_tweet': task.info.id_tweet,
                       'task_id': task.id
                      };
        deferred.resolve(task);
    }
    else {
        deferred.resolve(task);
    }
});
  pybossa.presentTask(function(task, deferred) {
    if ( !$.isEmptyObject(task) ) {
      	loadUserProgress();
      
      	$("#tweettext").html(replaceURLWithHTMLLinks(task.info.text));
        $('#task-id').html(task.id);
   
        $('.btn-answer').off('click').on('click', function(evt) {
            var answer = $(evt.target).attr("value");
            if (typeof answer != 'undefined') {
                
                var aux_category = getCheckedBoxes();
                task.answer.category = aux_category.join();

                if (aux_category != null) {
                    
                    pybossa.saveTask(task.id, task.answer).done(function() {
                        deferred.resolve();
                    });
                    $("#loading").fadeIn(500);
                    if ($("#disqus_thread").is(":visible")) {
                        $('#disqus_thread').toggle();
                        $('.btn-disqus').toggle();
                    }
                }
                else {
                    alert("Debe seleccionar una alternativa");
                    return;
                }
            }
            else {
                $("#error").show();
            }
        });
        $("#loading").hide();
    }
    else {
        $(".skeleton").hide();
        $("#loading").hide();
        $("#finish").fadeIn(500);
    }
});
pybossa.run('inundacion-ui-inf');
</script>